.header {
    padding-top: 50px;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-auth {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        gap: 0 30px;
        color: inherit;
    }
    &-signin {
        font-weight: 500;
        color: $heading-color;
    }
    &-signup {
        font-weight: 500;
        color: $primary-color;
        padding: 13px 45px;
        border: 1px solid;
        border-radius: 100rem;
    }
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 40px;
}
