.header {
    display: block;
    padding-top: 50px;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-auth {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        gap: 0 30px;
        color: inherit;
    }
    &-signin {
        font-weight: 500;
        color: $heading-color;
    }
    &-signup {
        font-weight: 500;
        color: $primary-color;
        padding: 13px 45px;
        border: 1px solid;
        border-radius: 100rem;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 25px 0 50px;
        &-auth {
            display: none;
        }
    }
}
